
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    
}

.wraper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
}
.hi {
    background-color: #445162;
    padding: 50px 0;

}
.hi__row {
    display: flex;
    justify-content: space-between;
}
.hi__body {
    color: #ffff;
    padding: 0px 30px 0px 0px;
}
.hi__title {
    font-size: 55px;
    margin: 0px 0px 40px 0px;
    
}
.hi__list {
}

.hi__list li {
    background: url('/img/check\ icon@1X.png') 0 1px no-repeat;
    font-size: 20px;
    padding: 0px 0px 0px 36px;
    line-height: 22px;
    margin-bottom: 15px;
}

.hi__list li:last-child{
    margin: 0;
}

.hi__image {
}
.footer {
    background-color: #f5f5f5;
}
.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}
.footer__text {
    font-size: 12px;
    color: #445162;
    letter-spacing: 0.7px;
}

.what {
    padding: 50px 0px;
}
.what__row {
    display: flex;
}
.what__body {
    padding-left: 38px;
    flex: 1 1 auto;
}
.what__title {
    margin: 0px 0px 33px 0px;
}

.what__img {
    flex: 0 0 430px ;
}

.what__img img{
    max-width: 100%;
}

.title {
color:#445161;
font-family:ArialMT,Socialico,AdobeInvisFont,MyriadPro-Regular;
font-size:30px;

}
.what__text p {
    margin: 0px 0px 25px 0px;
    color:#333333;
    font-size: 16px;
    line-height: 24px;
}

.columns {
    background-color: #f5f5f5f5;
    padding: 50px 0px 20px 0px;
}
.container {
}
.columns__title {
    text-align: center;
    margin: 0px 0px 30px 0px;
    
}


.columns__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px;
    
}
.columns__column {
    flex: 0 1 50%;
    margin-bottom: 30px;
    padding: 0px 8px;
   
}
.columns_item {
}
.item {
}
.item__row {
    display: flex;

}
.item__image {
    float: 0 0 200px;
}
.item__body {
    flex: 1 1 auto;
    padding: 0px  0px 0px 15px;
}
.item__title {
    color: #445161;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 13px;
}
.item__text {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}


.vertical {
    padding: 50px 0px;
}

.vertical__title {
    text-align: center;
    margin-bottom: 30px;
}
.vertical__body {
    max-width: 990px;
    margin: 0px auto;
}
.vertical__row {
    display: flex;
    margin: 0px -22.5px;
}
.vertical__column {
    flex: 0 1 33.333%;
    padding: 0px 25.5px;
    display: flex;
}
.vertical__item {
    background-color: #445161;
    color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #445161;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.vertical__subtitle {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    padding: 12px 0px;
}
.vertical__lable {
    background-color: #f5f5f5;
    text-align: center;
    color: #445161;
    padding: 18px 0px;
    font-size: 23px;
}
.vertical__text {
    padding: 20px;
    line-height: 24px;
    font-size: 14px;
    flex: 1 1 auto;
}
.vertical__text p {
    padding: 0px 0px 20px 0px;
   
}
.vertical_btm {
    margin: 0px 20px;
    height: 40px;
    background-color: #ffff;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    border-radius: 5px;
}