
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    
}

.wraper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
}
.hi {
    background-color: #445162;
    padding: 50px 0;

}
.hi__row {
    display: flex;
    justify-content: space-between;
}
.hi__body {
    color: #ffff;
    padding: 0px 30px 0px 0px;
}
.hi__title {
    font-size: 55px;
    margin: 0px 0px 40px 0px;
    
}
.hi__list {
}

.hi__list li {
    background: url('/img/check\ icon@1X.png') 0 1px no-repeat;
    font-size: 20px;
    padding: 0px 0px 0px 36px;
    line-height: 22px;
    margin-bottom: 15px;
}

.hi__list li:last-child{
    margin: 0;
}

.hi__image {
}
.footer {
    background-color: #f5f5f5;
}
.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}
.footer__text {
    font-size: 12px;
    color: #445162;
    letter-spacing: 0.7px;
}

.what {
    padding: 50px 0px;
}
.what__row {
    display: flex;
}
.what__body {
    padding-left: 38px;
    flex: 1 1 auto;
}
.what__title {
    margin: 0px 0px 33px 0px;
}

.what__img {
    flex: 0 0 430px ;
}

.what__img img{
    max-width: 100%;
}

.title {
color:#445161;
font-family:ArialMT,Socialico,AdobeInvisFont,MyriadPro-Regular;
font-size:30px;

}
.what__text p {
    margin: 0px 0px 25px 0px;
    color:#333333;
    font-size: 16px;
    line-height: 24px;
}

.columns {
    background-color: rgb(243, 241, 241);
}
.container {
}
.columns__title {
    text-align: center;
    padding: 50px 0px 50px 0px;
}
.columns__row {
    display: flex;
    flex-wrap: wrap;
     margin: 0px -30px;
}
.columns__column {
    flex: 1 1 50%;
    padding: 0px 30px;
   
}
.column__item {
}
.item {
}
.item__row {
    display: flex;
    padding: 0px 0px 25px 0px;
}
.item__body {
    padding: 0px 0px 25px 30px;
    
}
.item__title {
    font-size: 26px;
    padding-bottom: 20px;
}
.item__text {
    font-size:  14px;
    line-height: 25px;
}

.item__img {
    flex: 0 0 200px;
}

.vertical {
    margin-bottom: 50px;
}
.container {
}
.vertical__title {
    text-align: center;
    padding: 50px 0px 50px 0px;

}

.vertical__row {
    display: flex;
    margin: 0px -25px;
}
.vertical__column {
    flex: 0 1 33.333%;
    padding: 0px 25px;
    display: flex;
    
}
.vertical__item {
    background-color: rgb(70, 66, 66);
    display: flex;
    flex-direction: column;
    color: gainsboro;
    border: 1px solid rgb(70, 66, 66);
    padding-bottom: 10px;
    border-radius: 6px;
}
.item__label {
    font-size: 18px;
    padding: 15px 0px;
    text-align: center;
    text-transform: uppercase;
    
}
.item__sublabel {
    font-size: 14px;
    padding: 15px 0px;
    text-align: center;
    background-color: ghostwhite;
    color: rgb(83, 83, 83);
    text-transform: uppercase;
}
.item__text {
    padding: 20px;
    flex: 1 1 auto;
    
}
.item__btn {
    
   
}
.btn {
    background-color: honeydew;
    margin: 0px 20px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}


.flexbox {
    display: flex;
    margin: 0px auto;
    
}
.block-content {
    border: 1px solid red;
    justify-content: center;
    padding: 20px 50px;
}